$white: #fefefe;
$black: #1c1c1c;

$green: #14A464;
$blue: #00809c;
$purple: #5D2E8C;

$text-primary: $white;
$text-hover: $green;
$text-code: $black;
$text-code-bg: $blue;

body {
    background-color: $black;
}